:root {
  --sidebar-width: 135px;
  --navbar-height: 65px;
  --darkblue: #252E3A;
  --darkgray: #333;
  --main-bg: #F2F2F2;
  --input-padding: 7px;
  --input-height: 15px;
  --input-color: #b4b4b4;
}


.App {
  text-align: center;
  background: var(--main-bg);
}
input {
  height: var(--input-height);
  border: 1px solid var(--input-color);
  border-radius: 7px;
  padding: var(--input-padding);
}
input:focus {
  outline: none;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
}
.recharts-brush-texts { 
  font-size: 0;
}
.recharts-brush rect {
  fill: #fff;
  stroke: none;
  border-radius: 5px;
}
.recharts-brush-slide {
  fill: #555 !important;
  fill-opacity: 1;
  stroke: #555 !important;
}
.recharts-brush-traveller rect {
  fill: #000 !important;
  stroke: #000;
}
.recharts-brush-traveller line {
  stroke: #248499
}

/*-------- Navbar ---------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background: var(--darkblue);
  display: grid;
  grid-template-columns: auto auto 80px;
  align-items: center;
  z-index: 99;
}
.navbar h1 {
  color: #fff;
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  justify-self: start;
}
.navbar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  justify-self: end;
}
.navbar button:hover, .navbar img:hover {
  cursor: pointer;
}
.navbar img {
  height: 50px;
  width: auto;
  justify-self: end;
  margin-right: 20px;
}


/*-------- Sidebar ---------------*/
.sidebar {
  height: calc(100vh - var(--navbar-height) - 35px);
  width: var(--sidebar-width);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  padding-top: 35px;
  margin: 0;
  background: var(--darkgray);
  display: grid;
  grid-template-rows: repeat(4, 50px);
  row-gap: 20px;
  z-index: 99;
}
.sidebar button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}
.sidebar button:hover {
  cursor: pointer;
}



/*-------- Container for main screens ---------------*/
.main-container {
  background: var(--main-bg);
  position: absolute;
  top: var(--navbar-height);
  left: var(--sidebar-width);
  padding: 20px 10px;
  width: calc(100% - var(--sidebar-width) - 20px);
  min-height: calc(100vh - var(--navbar-height) - 10px);
}
.sub-container {
  width: calc(90%);
  max-width: 800px;
  background: var(--darkblue);
  margin: auto;
  margin-bottom: 30px;
  padding: 15px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.two-col-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
}


/*-------- Settings ---------------*/
.profile-img, .login-settings {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  justify-self: center;
}
.profile-img {
  max-width: 200px;
}
.profile-img:hover {
  cursor: pointer;
}
.settings-block {
  display: grid;
  grid-template-columns: minmax(50px, 1fr);
  row-gap: 10px;
  background: var(--main-bg);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.grade-settings {
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
}
.boulder-grades {
  background: #629DA5;
}
.route-grades {
  background: #7FB3BA;
}
#save-settings-changes-btn, #save-add-sessions-btn {
  border: none;
  background: #367644;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 7px;
}
#delete-account-btn, #confirm-delete-account-btn {
  background: #B53A3A;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 7px;
}
button:hover {
  cursor: pointer;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000dd;
}
.delete-account-message-container {
  display: grid;
  grid-template-rows: 30px auto;
  justify-items: center;
  margin: auto;
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
  padding-bottom: 50px;
  width: 80%;
  max-width: 400px;
}
.popup-message-container {
  margin: auto;
  margin-top: 20%;
  color: #fff;
  font-size: 24px;
  width: 80%;
  max-width: 400px;
}
.close-btn {
  position: relative;
  justify-self: end;
  height: 30px;
  width: 30px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background: none;
}
.close-btn:hover {
  background: #999;
}
.close-btn:after, .close-btn:before {
  position: absolute;
  left: 10%;
  margin-top: -2px;
  display: inline-block;
  content: "";
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.close-btn:before {
  transform: rotate(-45deg);
}
.close-btn:after {
  transform: rotate(45deg);
}
.close-btn::after:hover, .close-btn::before:hover {
  background-color: var(--darkblue);
}
.btn-center {
  justify-self: center;
}
.delete-account-message-container input {
  width: 50%;
  max-width: 200px;
  margin-bottom: 20px;
}
.delete-account-message-container p {
  padding: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

/*-------- Infoboxes on Overview Screen------------*/
.infobox-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.infobox {
  color: #fff;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
.info-name {
  font-size: 16px;
  border-radius: 7px 7px 0 0;
  padding: 5px 0;
}
.info-count {
  font-size: 24px;
  border-radius: 0 0 7px 7px;
  padding: 10px 0;
}

.summary-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}
.summary {
  border: 2px solid #A2A2A2;
  border-radius: 7px;
  padding: 10px 15px 20px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------- Graph Component---------------*/
.graph-title {
  font-size: 18px;
  margin-bottom: -10px;
  padding: 0 5px 0 5px;
}
.graph-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.graph-border {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 250px;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 5px;
  margin-top: 10px;
}
.graph {
  width: calc(85% - 17px);
  height: calc(85% - 28px);
  background: var(--darkblue);
  padding: 20px;
  
}


/*-------- AddSession Screen ---------------*/
.dropdown .dropBtn {
  width: 100%;
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--darkgray);
  padding: 14px 16px;
  background-color: var(--main-bg);
  font-family: inherit;
  margin: 0;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content button {
  width: 100%;
  color: black;
  border: none;
  background-color: #7FB3BA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content button:hover {
  cursor: pointer;
  background: #629DA5;
}
.show {
  display: block;
}

/*---- Add Sessions -----*/
.session {
  margin-top: 20px;
}

/*---------- Indoor ------------*/
.table-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #248499;
  color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  font-size: 20px;
}
.table-body {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin-bottom: 30px;
}
.grade-selector {
  display: grid;
  grid-template-columns: repeat(2, minmax(25px, 100px));
  row-gap: 10px;
  column-gap: 10px;
}
.grade-selector input {
  margin-top: 10px;
  margin-right: 15px;
}
.indoor-session-details {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
}
/*------ Hangboard ---------------*/
.hangboard-input-container {
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.hangboard-input-container input {
  margin-bottom: 10px;
}
.hangboard-strength-test {
  width: 80%;
  max-width: 500px;
  margin: auto;
  justify-items: center;
  background: #629DA5;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.hangboard-strength-test p {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;

}
.hangboard-strength-test input {
  margin: 10px;
}

/*----------- Outdoor Session ------------------*/
.outdoor-session-btn-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  row-gap: 20px;
}
.add-ascent-to-list-btn {
  margin-top: 12px;
  position: relative;
  height: 40px;
  width: 40px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  background: none;
}
.add-ascent-to-list-btn:hover {
  background: #999;
}
.add-ascent-to-list-btn:after, .add-ascent-to-list-btn:before {
  position: absolute;
  left: 0px;
  margin-top: -3px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 6px;
  background-color: #fff;
}
.add-ascent-to-list-btn:before {
  transform: rotate(90deg);
}
.add-ascent-to-list-btn:after {
  transform: rotate(180deg);
}
.add-ascent-to-list-btn::after:hover, .add-ascent-to-list-btn::before:hover {
  background-color: var(--darkblue);
}

/*--------- Ascent List --------------------------*/
.outdoor-session-climbing-type {
  background: #248499;
  color: #fff;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  padding: 7px;
}
.ascent-list-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ascent-list .ascent-container:nth-child(even) {
  background: #ccc;
}
.ascent-list .ascent-container:last-child {
  border-radius: 0 0 7px 7px;
  margin-bottom: 0px;
  border: none
}

/*--------- Add Ascent --------------------------*/
.ascent-container {
  padding: 12px 5px;
  background: #aaa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /**/
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  border-bottom: 2px solid #fff;
}
.method-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid var(--input-color);
  height: 28px;
  background: #fff;
}

.grade-dropdown button {
  background: #fff;
  width: 100%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid var(--input-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.testdiv {
  padding: 0;
}
.testdiv input {
  margin: 0;
  margin-left: calc(-1 * var(--input-padding));
  margin-right: calc(-1 * var(--input-padding));
  width: calc(100% - 2 * var(--input-padding));
}
.dropdown-grades {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-grades div:nth-child(even) {
  background:var(--input-color);
}
.dropdown-grade-item {
  padding: 3px 0;
  max-width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}



/*-------- Login and Registration---------------*/
.background {
  background: url("./images/bg2.png") no-repeat center center,
    #000;
  background-size: contain;
  min-height: 100vh;
}
.background h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  padding-top: 5vh;
  margin: 0;
}
.login-form {
  padding-top: 10vh;
  display: grid;
  width: 50%;
  max-width: 500px;
  margin: auto;
  row-gap: 20px;
}
.login-form input {
  height: 20px;
  border-radius: 7px;
  padding: 15px;
  border: 1px solid #b4b4b4;
}
.login-form button {
  background: #248499;
  border-radius: 7px;
  border: none;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  justify-self: center;
}
.login-form button:hover {
  cursor: pointer;
}
.register-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 10px;
  align-items: center;
}
#register-screen-back2login-btn {
  position: relative;
  height: 45px;
  width:  45px;
  border-radius: 50%;
}
#register-screen-back2login-btn:after, #register-screen-back2login-btn:before {
  position: absolute;
  left: 12px;
  margin-top: -4px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 8px;
  border-radius: 8px;
  background-color: #fff;
}
#register-screen-back2login-btn:before {
  transform: rotate(40deg) translateY(8px);
}
#register-screen-back2login-btn:after {
  transform: rotate(-40deg) translateY(-8px);
}



@keyframes blink {
  0%   {box-shadow:  0px 0px 7px 7px #B53A3A99;}
  50%  {box-shadow:  0px 0px 7px 7px #B53A3A33;}
  100% {box-shadow:  0px 0px 7px 7px #B53A3A99;}
}

.blinking {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}




/*---------- Table Stuff -----------*/
.overview-table-settings {
  margin-top: 50px;
  height: 50px;
  background:  #888; /*#C4C4C4*/
}



.overview-table {
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
}
.overview-table th {
  padding: 5px;
  color: white;
}
.overview-table td {
  padding: 5px;
  
}
.overview-table td:first-child {
  border-left: 2px solid #888;
}
.overview-table td:last-child {
  border-right: 2px solid #888;
}
.overview-table tr:last-child {
  border-bottom: 2px solid #888;
}


.overview-table th:first-child {
  border-radius: 5px 0 0 5px;
}
.overview-table th:last-child {
  border-radius: 0 5px 5px 0;
}

.overview-table-head {
  margin-top: 20px;
  background: #248499;
  height: 50px;
}
.overview-table-body {
  margin-top: 20px;
  min-height: 200px;
  background: #fff;
}

.white-row {
  background-color: #fff;
}
.gray-row {
  background-color: #eee;
}
.bottom-line td {
  /* border-radius: 0 0 5px 5px; */
  border-bottom: 2px solid #888;
}

.test {
  background: #333;
  color: #fff;
  border: none;
  display: inline;
}